{% extends 'ytbl/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top:20px;margin-bottom:20px;">
    <table class="table table-hover border">
        <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col" class="text-left" style="text-indent:2%;">제목</th>
            <th scope="col" style="width:5%;">작성자</th>
        </tr>
        </thead>
    <tbody>
    {% for item in items %}
        <tr class="text-center">
            <td class="text-left" style="text-indent:2%;" onclick="location.href='{% url 'board:boardDetail' board_id=item.id %}?page={{ items.number }}'">
                <b>
                    {{ item.title }}
                    {% if item.comment_count is not None and item.comment_count > 0 %}
                        ({{ item.comment_count }})
                    {% endif %}
                </b>
            </td>
            <td>
                <small>{{ item.author.username }}</small>
                <br>
                <small>{{ item.created_at | date:"Y.m.d."}}</small>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <div class="postbtn text-right" style="padding-right:15px;">
        {% if user.is_authenticated %}
        <button class="btn btn-info" aria-label="Light Align" onclick="location.href='{% url 'board:boardCreate' %}'">
            글쓰기
        </button>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% if items.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.previous_page_number }}">{{ items.previous_page_number }}</a>
                </li>
                {% endif %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ items.number }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if items.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.next_page_number }}">{{ items.next_page_number }}</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.paginator.num_pages }}" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}